{% extends "layout.html" %}

{% block title %}
     目標
{% endblock %}

{% block main %}
    {% if goal %}
        <div class="goal mb-3">
            <h1>{{ goal }}</h1>
        </div>
        <div class="progress_rate mb-3">
            <form action="/update_progress_rate" method="POST">
                <label for="progress">達成率:{{ progress_rate }}%</label><br>
                <input type="range" id="progress" name=progress min="0" max="100" step="1" value="{{progress_rate}}">
                <output for="progress" id="progressValue">{{progress_rate}}%</output><br>
                <input class="btn btn-primary" type="submit" value="更新">
            </form>
        </div>
        <div class="progress_rate mb-3">
            <h3><span id="remaining-time"></span></h3>
        </div>
        <form action="/delete_goal" method="post">
            <input name="goal_id" type="hidden" value="{{ id }}">
            <button class="btn btn-danger" type="submit">削除</button>
        </form>
    {% else %}
    <form action="/goal" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="goal" name="goal" placeholder="目標を入力してください" type="text">
        </div>
        <div class="mb-3">
            <label for="deadline" class="form-label">期限</label>
            <input class="date" type="date" name="date" value="{{ today }}" min="{{ today }}" >
            <input class="time" type="time" name="time">
        </div>
        <button class="btn btn-primary" type="submit">宣言</button>
    </form>
    {% endif %}
    <img src="/static/pan_767266.png" alt="pot" class="pot-img mx-auto my-5">
    <script>
        // 達成率のスライダー
        const progressSlider = document.getElementById('progress');
        const progressValue = document.getElementById('progressValue');

        progressSlider.addEventListener('input', () => {
            progressValue.textContent = progressSlider.value + '%';
        });
        
        // Flaskから渡されたdeadline変数を取得
        var deadline = new Date("{{ deadline }}");

        function updateRemainingTime() {
            var now = new Date();
            var remainingTime = deadline - now;

            if (remainingTime <= 0) {
                document.getElementById("remaining-time").textContent = "終了しました";
            } else {
                var days = Math.floor(remainingTime / (1000 * 60 * 60 * 24));
                var hours = Math.floor((remainingTime % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((remainingTime % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((remainingTime % (1000 * 60)) / 1000);

                document.getElementById("remaining-time").textContent = "あと" + days + "日 " + hours + "時間 " + minutes + "分 " + seconds + "秒";
            }
        }

        // 1秒ごとに更新
        setInterval(updateRemainingTime, 1000);
        updateRemainingTime();  // ページ読み込み時にも更新
    </script>
{% endblock %}