{% extends "layout.html" %}

{% block title %}
    ログイン
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="ユーザーネーム" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="パスワード" type="password">
        </div>
        <button class="btn btn-primary" type="submit">ログイン</button>
    </form>
{% endblock %}