{% extends "layout.html" %}

{% block title %}
    登録
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="ユーザーネーム" type="text">
        </div>
        <div class="mb-3 password-wrap">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="パスワード" type="password">
            <img class="eye-slash-solid" src="/static/eye-slash-solid.svg" onclick="togglePasswordVisibility()" style="display: none;">
            <img class="eye-solid" src="/static/eye-solid.svg" onclick="togglePasswordVisibility()">
        </div>
        <div class="mb-3 password-wrap">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="パスワード確認" type="password">
            <img class="eye-slash-solid-con" src="/static/eye-slash-solid.svg" onclick="toggleConfirmVisibility()" style="display: none;">
            <img class="eye-solid-con" src="/static/eye-solid.svg" onclick="toggleConfirmVisibility()">
        </div>
        <div class="d-flex justify-content-center mb-3 usertype">
            <div class="form-check">
                <input class="form-check-input mx-auto" id="positive" name="usertype" type="radio" value="positive">
                <label class="form-check-label" for="positive">ぞう</label>
            </div>
            <div class="form-check">
                <input class="form-check-input mx-auto" id="sensitive" name="usertype" type="radio" value="sensitive">
                <label class="form-check-label" for="sensitive">くま</label>
            </div>
            <div class="form-check">
                <input class="form-check-input mx-auto" id="negative" name="usertype" type="radio" value="negative">
                <label class="form-check-label" for="negative">うさぎ</label>
            </div>  
        </div>
        <button class="btn btn-primary" type="submit">登録</button>
    </form>
    <script>
        function togglePasswordVisibility() {
            const passwordInput = document.getElementById('password');
            const eyeSlash = document.querySelector('.eye-slash-solid');
            const eye = document.querySelector('.eye-solid');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                eyeSlash.style.display = 'block';
                eye.style.display = 'none';
            } else {
                passwordInput.type = 'password';
                eyeSlash.style.display = 'none';
                eye.style.display = 'block';
            }
        }

        function toggleConfirmVisibility() {
            const passwordInput = document.getElementById('confirmation');
            const eyeSlashcon = document.querySelector('.eye-slash-solid-con');
            const eyecon = document.querySelector('.eye-solid-con');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                eyeSlashcon.style.display = 'block';
                eyecon.style.display = 'none';
            } else {
                passwordInput.type = 'password';
                eyeSlashcon.style.display = 'none';
                eyecon.style.display = 'block';
            }
        }
    </script>
{% endblock %}